::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #1f4b18;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #36882b;
}
::-webkit-scrollbar-thumb:active {
  background: #3f9b31;
}
::-webkit-scrollbar-track {
  background: #000000;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #000000;
}
::-webkit-scrollbar-track:active {
  background: #000000;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

html{
	background: #000;
	color: #0a0;
	text-shadow: 0 0 3px #0f0;
	font: 10pt monospace;
	white-space: pre;
	tab-size: 4;
}

.terminalwrapper {
  position: absolute;
  width: 600px;
  left: 50%;
  transform: translateX(-50%);
  height: 80%;
  overflow-y: scroll;
}

.terminal {
}

button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #00ffea;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#0f73bf 0%,
		#109415);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#0f73bf),
		to(#109415));
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: 3px solid #ff8c00;
	-moz-box-shadow:
		0px 3px 11px rgba(255,0,64,0.5),
		inset 0px 0px 1px rgba(225,255,0,1);
	-webkit-box-shadow:
		0px 3px 11px rgba(255,0,64,0.5),
		inset 0px 0px 1px rgba(225,255,0,1);
	box-shadow:
		0px 3px 11px rgba(255,0,64,0.5),
		inset 0px 0px 1px rgba(225,255,0,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}
